<template name="index">
	<div class="content">
		<ul class="table-view">
			{{#each animals}}
			<li class="table-view-cell media">
				<a class="navigate-right" href="{{pathFor route='dog'}}">
					<img class="media-object pull-left" style="max-width: 8em;" src="http://badguy.website/files/{{firstImage}}">
					<div class="media-body">
						<h3>{{name}}</h3>
						<div>{{age}}</div>
						<div>{{breed}}</div>
						<div>{{sex}}</div>
					</div>
				</a>
			</li>
			{{/each}}
		</ul>
	</div>
</template>